<% include partials/header %>
<% include partials/navbar %>
<h1>CREDITS</h1>
<table>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[0].picture %>> <br> <%= contributors[0].name %>
		<td>Write contributions here, and add a picture of yourself to the pictures folder. Put your photo in the Pictures folder, call it Firstname.jpg</td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[1].picture %>> <br> <%= contributors[1].name %>
		</td>
		<td>Write contributions here, and add a picture of yourself to the pictures folder. Put your photo in the Pictures folder, call it Firstname.jpg</td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[2].picture %>> <br> <%= contributors[2].name %>
		</td>
		<td>Initial setup of expressjs project, tutorial section, navigation bar, and minor CSS/HTML fixes. </td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[3].picture %>> <br> <%= contributors[3].name %>
		</td>
		<td>Writing and research for index page, setup of credits page, and some minor CSS fixes.</td></tr>
</table>
<% include partials/footer %>
