<% include partials/header %>
<% include partials/navbar %>
<h1>CREDITS</h1>
<table>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[0].picture %>> <br> <%= contributors[0].name %>
		<td>Write contributions here, and add a picture of yourself to the pictures folder. Put your photo in the Pictures folder, call it Firstname.jpg</td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[1].picture %>> <br> <%= contributors[1].name %>
		</td>
		<td>Write contributions here, and add a picture of yourself to the pictures folder. Put your photo in the Pictures folder, call it Firstname.jpg</td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[2].picture %>> <br> <%= contributors[2].name %>
		</td>
		<td>Write contributions here, and add a picture of yourself to the pictures folder. You can change picture name in app.js</td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[3].picture %>> <br> <%= contributors[3].name %>
		</td>
		<td>Write contributions here, and add a picture of yourself to the pictures folder. You can change picture name in app.js</td></tr>
</table>
<% include partials/footer %>
