<% include partials/header %>
<% include partials/navbar %>
<h1>CREDITS</h1>
<table>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[0].picture %>> <br> <%= contributors[0].name %>
		<td>Website design (CSS/HTML), Install section, Navagation Bar design and implementation, Weather Application, Index page.</td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[1].picture %>> <br> <%= contributors[1].name %>
		</td>
		<td>Weather application, Express.js Routing, Code Refactoring, Helped with CSS/HTML, Cloud foundry hosting. </td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[2].picture %>> <br> <%= contributors[2].name %>
		</td>
		<td>Initial setup of express/nodejs project, Express.js routing, Tutorial section, Design and implementation of the navigation bar, CSS/HTML fixes, and Research. </td></tr>
		<tr><td class="contrib">
			<img id="portrait" src=<%= contributors[3].picture %>> <br><%= contributors[3].name %>
		</td>
		<td>Write contributions here.</td></tr>
</table>
<% include partials/footer %>
